html, body { height: 100% }

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
 // color: #B0BEC5;
  display: table;
  font-weight: 300;
  font-family: 'Lato';
}

.container {
  //text-align: center;
  display: table-cell;
  vertical-align: middle;
}

.content {
  //text-align: center;
  display: inline-block;
}

h1, .title {
  font-size: 96px;
  margin-bottom: 40px;
}

a
{
  text-decoration:none;
  color:#708090;
}

button, .button
{

  border:1px solid #C0C0C0;
  padding:10px 20px;
  border-radius:10px;
  font-size: 24px;
  font-weight:inherit;
  font-family: inherit;
  cursor:pointer;
}

input[type="text"], input[type="password"]
{
  padding:10px;
  border-radius:5px;
  border:1px solid #C0C0C0;
}

.btn
{
  background-color: #708090;
  border:1px solid darken(#708090, 20%);
  border-radius:10px;
  padding:10px;
  color:#fff;
  font-weight:500;
  font-size:14px;
}

.btn-slim
{
  border-radius:5px;
  padding:5px;
}

.btn-default
{
  border-color:darken(#ccc, 20%);
  background-color: #ccc;
  color:darken(#ccc, 50%);
}

.btn-primary, .btn.primary
{
  border-color:darken(#4169E1, 20%);
  background-color: #4169E1;
}

.form-group
{
  text-align:left;

}

.form-group + .form-group
{
  margin-top:20px;
}

.form-group label,
.form-group input
{
  display: inline-block;
}

.form-group label
{
  padding-right: 10px;
  text-align: right;
  white-space: nowrap;
  width: 150px;
}

.form-group input[type="submit"]
{
  margin-left:160px;
}

.inline li
{
  display:inline-block;
}

.list.templates li a
{
  display:block;
  width:200px;
  height:200px;
  border:1px solid #cccccc;
  margin:20px;
}

.menu li
{
  display:inline-block;
  padding:5px 10px;
}

.admin-menu
{
  background-color: #000000;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

.float-left
{
  float:left;
}

.float-right
{
  float:right;
}

.label
{
  border-radius: 0.25em;
  color: #ffffff;
  display: inline;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  padding: 0.2em 0.6em 0.3em;
  text-align: center;
  vertical-align: baseline;
  white-space: nowrap;
  background-color: #777777;
}

.label-success {
  background-color: #5cb85c;
}

.label-danger {
  background-color: #d9534f;
}

.label-warning {
  background-color: #f0ad4e;
}

.label-default {
  background-color: #777777;
}

.label-info {
  background-color: #5bc0de;
}

.label-primary {
  background-color: #337ab7;
}

.strong
{
  font-weight:700;
}

dl {
  margin-bottom: 20px;
  margin-top: 0;
}

dt {
  font-weight: 700;
}

dt, dd {
  line-height: 1.42857;
}

.dl-horizontal dt {
  clear: left;
  float: left;
  overflow: hidden;
  text-align: right;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 160px;
}

.dl-horizontal dd {
  margin-left: 180px;
}